<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-menu" (click)="openAside()">
                <div class="menu-line"></div>
                <div class="menu-line"></div>
                <div class="menu-line"></div>
            </div>
            <div class="header-logo">
                Aspose Wine
            </div>
            <div class="header-login">
                Sign in
            </div>
        </div>     
    </div> 
</header>
